.void{
  width:580px;
  height:120px;
  background-color: #ff4081, #81d4fa;
}
.body{
  // background-image: linear-gradient(120deg, #ff4081, #81d4fa);
  background-image: "https://media.istockphoto.com/photos/road-map-of-blue-location-pin-icon-symbol-or-gps-travel-route-marker-picture-id1345122756?b=1&k=20&m=1345122756&s=612x612&w=0&h=3gCAjeeG0hMiAVUE4ktONHvjo9kxuE6yBYXShcqK3Xc=";
}
.dropdown {
  background-color: white;
  display:flex;
  flex-direction: row;
  align-items:justify-content-center;

  border: 2px solid grey;
  width: 230px;
}

.input{
  width:468px;
  height :30px,
   
}

.card{
    width:500px;
    height: 50px;
    direction: row;
    flex-direction: inline;
  }
  .src{
    margin-left: 700px;
    height: 300px;
    margin-top: 50px;
  }
 
  .other{
    left:10px;
    text-align: left;
  }
  .button{
    height:25px;
    width:35px;
    padding-right:15px;
  }
  .whole{
    padding-right: 15px;
  }