.other{
  left:10px;
  text-align: left;
  margin-left: 26.7%;
}
.next{
  justify-content: center;
  padding-left: 580px;

}
.net{
  justify-content: center;
  margin-left: 540px;
}
.title{
  color:black
    }
    .title3{
      color: black;
      padding-right: 778px;
    }
.sow{
  text-decoration: none;
  color: aliceblue;
  
}