.other{
  left:10px;
  text-align: left;
  margin-left: 26.7%;
}
.next{
  justify-content: center;
  padding-left: 580px;

}
.net{
  justify-content: center;
  margin-left: 540px;
}
.title{
  color:black;
  padding-right: 700px;
  // background-color: aqua;

    }
    #sandhya{
      padding-top: 50px;
    }
    .title4{
      color:black;
      // padding-right: 400px;
      right: 400px;
      display: flex;
      // background-color: aqua;
      // padding-right: 770px;
      
    }
    .title3{
      color: black;
      padding-right: 770px;
    }
.sow{
  text-decoration: none;
  color: aliceblue;
  
}