.void{
  width:680px;
  height:120px;
  background-color: #ff4081, #81d4fa;
    align-items: center;
    // display: flex;
   border-left: 90px;
  //  gap:20px;
  }
.qv{
  align-items: center;
  font-size: 20px;
  font-family: 'times new roman', sans-serif;
  font-weight: 400;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.body{
  background-image: linear-gradient(120deg, #ff4081, #81d4fa);
}
.dropdown {
  background-color: white;
  display:flex;
  flex-direction: row;
  align-items:justify-content-center;
  border: 2px solid grey;
  width: 230px;
}
// .card{
//   margin-left: 720px;
//   width:500px;
//   height: 350px; 
// }
.input{
  // align-items:center;
  // padding-left: 90px;
  margin-left: 70px;
  // background-color: #ff4081;
  width:468px;
  height :35px; 
}
.jiv{
  position: relative;
  bottom: 30px;
  right:35px

}
.itc{
  position: relative;
  bottom: 10px;
  right:25px

}
.title2{
  color: black;
  // padding-left: 350px;
  
      padding-right: 400px;
}

.card-box{
    width:500px;
    height: 50px;
    direction: row;
    flex-direction: inline;
  }
  .src{
    margin-left: 800px;
    height: 400px;
    width: 450px;
    margin-top: 0px;
    padding-bottom: 100px;
  }
  .title{
color:black;
// text-align: center;
// padding-left: 90px;
padding-right: 630px;
  }
 .title1{
  color:black
 }
  .other{
    left:10px;
    text-align: left;
     }
  .button{
    height:25px;
    width:35px;
    padding-right:15px;
  }
  #same{
    margin-right: 10px;
  }
  .whole{
    // padding-right: 15px;
    margin-left: 20%;
  }
  .card-container {
    display: flex;
    margin-left: 26.7%;
  } 
  .first {
    display: inline-flex;
    height: 80px;
    padding-bottom: 100px;
  }

  .card-fluid{
    display: inline-flex;
    height: 50px;

  }
  .card-mb-4{
    display: inline-flex;
  }
  .Main{
    margin-top: 60px;
    margin-left: 20px;
  }
  .pop{
    // margin-top: 60px;
    margin-right: 30px;
  }
