.form {
  display: inline-flex;
  justify-content: center;
  padding-left: 350px;
  padding-top: 40px;

}

// .primaryCont {
//   background-image: linear-gradient(120deg, #3E5151, #DECBA4);
//   height: 649px;
//   width: 1319px;
//   margin-top: 30px;
//   text-align: start;


// }
.primaryCont {

  background-image: linear-gradient(120deg, #3E5151, #DECBA4);

  height: 618px;

  width: 1365px;

  margin-top: 30px;

  text-align: start;





}

.ic {
  font-size: 2rem;

}

.a {
  padding-left: 600px;
  padding-top: 50px;
}

.but {
  padding-left: 10px;
}