.xyz {
    
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    height: auto;

}

.flex{
    display: inline-flex;
}
.end{
    position: absolute;
    
    right: 100px;
}
// .w{
//     text-decoration: none;
// }
.m{
    position:absolute;
    transform: translate(70px,10px);
}